.card {
  border: 1px solid black;
  padding: 20px;
  padding-left: 30px;
  margin: 15px;
  border-radius: 20px;
  width: 30%;    
}

@media screen and (max-width: 700px) {
  .card {
    width: 70%;
    justify-content: center;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10%;
  }
}

  .btn{
    border-radius: 20px
  }
  
  .content{
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-small;
  }
  .plan{
    font-size: xx-small;
    font-weight:600
    
   }
   .blurred {
    filter: blur(2px);
    pointer-events: none
   }
   .btn-blurred{
  background-color: #579eee;

   }
   